.AboutBtn {
  font-size: 1.25rem;
  opacity: var(--opacity-high-emphasis);
}

.link {
  color: inherit;
  text-decoration: inherit;
}

/* Media query */

/* landscape */
@media only screen and (orientation: landscape) {
  .AboutBtn { 
    font-size: 1.5rem;
  }
}