/* Default CSS */
/* Mobile - Portrait */
.Main {
  margin: 0 1rem 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Main .content {
  flex: 1;
}

.Main .content .titleContainer {
  padding: 2.25rem 0 2rem;
  display: grid;
  row-gap: 2.25rem;
}

.Main .content .thumbnailContainer {
  padding: 2rem 0 2.25rem;
  display: grid;
  row-gap: 1.25rem;
}