.Header {
  position: fixed;
  width: calc(100vw - 2rem);
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

/* Media query */

/* landscape */
@media only screen and (orientation: landscape) {
  .Header {
    width: 80%;
    padding-top: 3rem;
  }
}