.WorkPageInfo {
  margin: 0 1rem;
  width: calc(100vw - 2rem);
  padding-bottom: 1rem;
  z-index: 999;
}

.WorkPageInfo .title {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  opacity: var(--opacity-high-emphasis);
  margin-bottom: 1rem;
}

.WorkPageInfo .date {
  margin-bottom: 0.5rem;  
}

.WorkPageInfo .date,
.WorkPageInfo .reference {
  font-size: 0.875rem;
  opacity: var(--opacity-middle-emphasis);
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

.WorkPageInfo .reference a {
  color: inherit;
  text-decoration: inherit;
}

/* Media query */

/* landscape */
@media only screen and (orientation: landscape) {
  .WorkPageInfo {
    margin: 0 2rem;
    width: calc(100vw - 4rem);
    padding-bottom: 2rem;
  }
  
  .WorkPageInfo .title {
    font-size: 4.5rem;
    margin-bottom: 1rem;
  }
  
  .WorkPageInfo .date {
    margin-bottom: 0.5rem;  
  }
  
  .WorkPageInfo .date,
  .WorkPageInfo .reference {
    font-size: 1rem;
  }
}