.MainPageTitle {
  font-weight: var(--font-weight-bold);
}

.MainPageTitle :nth-child(1) {
  font-size: 3rem;
  opacity: var(--opacity-high-emphasis);
}

.MainPageTitle :nth-child(2) {
  font-size: 2.25rem;
  opacity: var(--opacity-high-emphasis);
}

/* Media query */

/* landscape */
@media only screen and (orientation: landscape) {
  .MainPageTitle :nth-child(1) {
    font-size: 4.5rem;
  }
  
  .MainPageTitle :nth-child(2) {
    font-size: 3.375rem;
  }
}