.AboutPageInfo .title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  opacity: var(--opacity-high-emphasis);
}

.AboutPageInfo .paragraph {
  margin-bottom: 2.5rem;
  opacity: var(--opacity-middle-emphasis);
}

.AboutPageInfo .email {
  margin-bottom: 2.5rem;
}

.AboutPageInfo .email a {
  position: relative;
  font-size: 1.5rem;
  opacity: var(--opacity-high-emphasis);
  color: inherit;
  text-decoration: inherit;
}

.AboutPageInfo .email a::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 2px; /* 1.5px, 2.5px 처럼 소수점이 .5 인 경우 애니메이션 렌더링 시 깨짐 현상이 발생함. */
  background-color: var(--color-white);
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 600ms var(--transition-ease-out-quart);
}

.AboutPageInfo .email a:hover::before {
  transform: scaleX(0);
}

.AboutPageInfo .sns {
  display: flex;
  gap: 2rem;
}

.AboutPageInfo .sns a {
  position: relative;
  font-size: 1.25rem;
  opacity: var(--opacity-high-emphasis);
  color: inherit;
  text-decoration: inherit;
}

.AboutPageInfo .sns a::before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 1px; /* 1.5px, 2.5px 처럼 소수점이 .5 인 경우 애니메이션 렌더링 시 깨짐 현상이 발생함. */
  background-color: var(--color-white);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 600ms var(--transition-ease-out-quart);
}

.AboutPageInfo .sns a:hover:before {
  transform: scaleX(1);
}

/* Media query */

/* landscape */
@media only screen and (orientation: landscape) {
  .AboutPageInfo .title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  
  .AboutPageInfo .paragraph {
    margin-bottom: 4rem;
  }
  
  .AboutPageInfo .email {
    margin-bottom: 4rem;
  }
  
  .AboutPageInfo .email a {
    font-size: 3rem;
  }
  
  .AboutPageInfo .sns {
    gap: 2.75rem;
  }
  
  .AboutPageInfo .sns a {
    font-size: 1.5rem;
  }
}